/* Tablet portrait */
@media screen and (min-width: 600px) {
  .contacts {
    flex-direction: row;
  }
  .intro > p {
    line-height: 30px;
    font-size: 17px;
  }
  .expertise-list,
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  .expertise-list > li,
  .skills-list > li {
    width: 45%;
    margin-right: 20px;
  }
  .education-list li,
  .experiance-list li {
    height: 170px;
  }
  .education-list li::after,
  .experiance-list li::after {
    height: 171px;
  }
  .education-list::after {
    top: 420px;
  }
  .portfolio__gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
  }
  .portfolio__gallery li {
    width: 47%;
    margin-top: 20px;
  }
}

/* Tablet landscape */
@media screen and (min-width: 760px) {
  .header {
    height: auto;
  }
  .box-avatar {
    margin-top: 30px;
    height: 210px;
  }
  .avatar {
    width: 210px;
  }

  .section-header {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
  }
  .section > p {
    padding-top: 43px;
    padding-bottom: 43px;
    padding-left: 50px;
  }
  .skills-list,
  .expertise-list {
    margin-top: 19px;
    margin-bottom: 19px;
    padding-left: 50px;
  }
  .resp-footer-box {
    margin-top: 35px;
    margin-bottom: 30px;
  }
  .education-list,
  .experiance-list {
    margin-top: 14px;
    padding-left: 50px;
  }
  .education-list {
    margin-bottom: 14px;
  }
  .education-list > li,
  .experiance-list > li {
    display: flex;
    justify-content: space-around;
    height: 150px;
  }
  .education-list::after {
    left: 34px;
  }
  .education-list::before {
    left: 42px;
    /* display: none; */
  }

  .education-list li::after,
  .experiance-list li::after {
    height: 151px;
  }
  .experiance-list li:last-child::after {
    height: 140px;
  }
  .education-list::after {
    top: 380px;
  }

  .experiance-info {
    width: 30%;
    flex-shrink: 0;
  }
  .education-list > li > p,
  .experiance-list > li > p {
    width: 50%;
  }
  .portfolio__gallery {
    margin-top: 33px;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .header {
    flex-direction: row;
    height: 100vh;
  }
  .resp-desc-box {
    height: 100vh;
    justify-content: space-around;
  }
  .resp-desc-ava {
    width: 315px;
    flex-shrink: 0;
    background-color: #2b2c2c;
    justify-content: center;
  }
  .box-avatar {
    padding-bottom: 400px;
    padding-left: 80px;
  }
  .resp-desc-info {
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
  }
  .resp-desc-name {
    padding-left: 50px;
  }
  .box-position,
  .box-last-name,
  .box-first-name {
    justify-content: start;
  }
  .box-socials {
    margin-top: 122px;
    justify-content: flex-end;
    padding-right: 50px;
  }

  /* SECTIONS */
  .section {
    display: flex;
  }
  .section-header {
    width: 315px;
    flex-shrink: 0;
    text-align: right;
    border: 0;
  }
  .section > p {
    flex-grow: 1;
  }
  .portfolio .section-header,
  .experiance .section-header,
  .expertise .section-header {
    background-color: #2b2c2c;
  }
  .intro,
  .skills,
  .education,
  .footer {
    background-color: #2b2c2c;
  }
  .intro .section-header,
  .skills .section-header,
  .education .section-header,
  .footer .section-header {
    background-color: #292a2a;
  }
  .experiance-list {
    /* outline: 1px solid green; */
    padding-bottom: 0;
  }
  .experiance-list > li:last-child {
    margin-bottom: 0;
  }
  .education-list {
    padding-top: 30px;
  }
  .education-list::before {
    height: 67px;
    top: -34px;
    /* display: none; */
  }
  .education-list::after {
    top: 380px;
  }
  .contacts li {
    margin-top: 0;
  }
  /* .experiance-list::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 44px;
    background-color: #464747;
    left: 45px;
    top: 325px;
  } */
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .resp-desc-ava {
    flex-grow: 1;
  }
  .resp-desc-right {
    width: 905px;
  }

  .box-avatar {
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
  }
  .avatar {
    width: 250px;
  }
  .name {
    font-size: 70px;
  }
  .box-first-name {
    height: 70px;
  }
  .box-last-name {
    height: 70px;
  }
  .position {
    font-size: 20px;
  }

  .box-socials {
    margin-top: 172px;
    height: 40px;
  }
  .socials {
    width: 130px;
  }
  .socials li {
    width: 40px;
    height: 40px;
  }

  /* sections */
  .section-header {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 70px;
    flex-grow: 1;
  }
  .section > p {
    width: 905px;
    flex-grow: 0;
    padding-top: 63px;
    padding-bottom: 63px;
  }
  .skills-list,
  .expertise-list {
    margin-top: 39px;
    margin-bottom: 39px;
    width: 905px;
    flex-grow: 0;
  }

  .education-list,
  .experiance-list {
    margin-top: 34px;
    width: 905px;
    flex-grow: 0;
  }
  .education-list {
    margin-bottom: 34px;
  }

  .expertise-list > li,
  .skills-list > li {
    width: 43%;
    margin-right: 40px;
    margin-bottom: 40px;
  }

  .education-list > li,
  .experiance-list > li {
    height: 130px;
  }
  .education-list::before {
    height: 67px;
    top: -34px;
  }
  .experiance-list::after {
    height: 64px;
    top: 360px;
  }

  .education-list li::after,
  .experiance-list li::after {
    height: 131px;
  }
  .education-list::after {
    top: 340px;
  }
  .experiance-list::after {
    top: 325px;
  }

  .portfolio__gallery {
    margin-top: 52px;
    width: 905px;
    flex-grow: 0;
  }

  .resp-footer-box {
    width: 905px;
    flex-grow: 0;
    margin-top: 50px;
  }
  /* .footer-first-name {
    height: 70px;
  }
  .footer-last-name {
    height: 70px;
  } */
  .footer .name {
    font-size: 44px;
  }
  .footer .socials li {
    width: 34px;
    height: 34px;
  }
  .footer .socials {
    width: 114px;
  }
}
