/* Tablet portrait */
@media screen and (min-width: 600px) {
  .contacts {
    flex-direction: row;
  }
  .intro > p {
    line-height: 30px;
    font-size: 17px;
  }
  .expertise-list,
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  .expertise-list > li,
  .skills-list > li {
    width: 45%;
    margin-right: 20px;
  }
}

/* Tablet landscape */
@media screen and (min-width: 760px) {
  .header {
    height: auto;
  }
  .box-avatar {
    margin-top: 30px;
    height: 210px;
  }
  .avatar {
    width: 210px;
  }
  .section-header {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
  }
  .section > p {
    padding-top: 43px;
    padding-bottom: 43px;
  }
  .skills-list,
  .expertise-list {
    margin-top: 19px;
    margin-bottom: 19px;
  }
  .education-list,
  .experiance-list {
    margin-top: 14px;
    margin-bottom: 14px;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .header {
    flex-direction: row;
    height: 100vh;
  }
  .resp-desc-box {
    height: 100vh;
    justify-content: space-around;
  }
  .resp-desc-ava {
    width: 315px;
    flex-shrink: 0;
    background-color: #2B2C2C;
    justify-content: center;
  }
  .box-avatar {
    padding-bottom: 400px;
    padding-left: 80px;
  }
  .resp-desc-info {
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
  }
  .resp-desc-name {
    padding-left: 50px;
  }
  .box-position,
  .box-last-name,
  .box-first-name {
    justify-content: start;
  }
  .box-socials {
    margin-top: 122px;
    justify-content: flex-end;
    padding-right: 50px;
  }

  /* SECTIONS */
  .section {
    display: flex;
  }
  .section-header {
    width: 315px;
    flex-shrink: 0;
    text-align: right;
    border: 0;
  }
  .section > p {
    flex-grow: 1;
  }
  .portfolio .section-header,
  .experiance .section-header,
  .expertise .section-header {
    background-color: #2B2C2C;
  }
  .intro,
  .skills,
  .education {
    background-color: #2B2C2C;
  }
  .intro .section-header,
  .skills .section-header,
  .education .section-header {
    background-color: #292A2A;
  }

  .education-list::before {
    height: 47px;
    top: -14px;
  }
  .experiance-list::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 44px;
    background-color: #464747;
    left: 22px;
    top: 480px;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .box-avatar {
    padding-left: 0;
  }
  .name {
    font-size: 70px;
  }
  .box-first-name {
      height: 70px;
  }
  .box-last-name {
      height: 70px;
  }
  .position {
    font-size: 20px;
  }

  .box-socials {
    margin-top: 172px;
    height: 40px;
  }
  .socials {
    width: 130px;
  } 
  .socials li {
    width: 40px;
    height: 40px;
  }

  /* sections */
  .section-header {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 70px;
  }
  .section > p {
    padding-top: 63px;
    padding-bottom: 63px;
  }
  .skills-list,
  .expertise-list {
    margin-top: 39px;
    margin-bottom: 39px;
  }
  .education-list,
  .experiance-list {
    margin-top: 34px;
    margin-bottom: 34px;
  }

  .expertise-list > li,
  .skills-list > li {
    width: 43%;
    margin-right: 40px;
    margin-bottom: 40px;
  }

  .education-list::before {
    height: 67px;
    top: -34px;
  }
  .experiance-list::after {
      height: 64px;
    top: 480px;
  }
}
