:root {
  /* Colours */
  --bg-main: #2d2e2e;
  --bg-section: #282929;
  --font-main: #979899;
  --colorize: #ffa500;
  --lighter: #a4a5a6;
  --poor: #6e6e6e;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.nofloat {
  clear: both;
}

html,
body {
  background-color: var(--bg-main);
  color: var(--font-main);
  font-family: 'Roboto', sans-serif;
}
p {
  line-height: 25px;
  font-size: 13px;
}
a {
  color: var(--colorize);
}
a:hover {
  color: wheat;
}

.colorize {
  color: var(--colorize);
}
.lighter {
  color: var(--lighter);
}
.poor {
  color: var(--poor);
}
.upper {
  text-transform: uppercase;
}
.lower {
  text-transform: lowercase;
}
.bolt {
  font-weight: 500;
}
.numbers {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.small {
  font-size: 10px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 24px;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
}
.header-box {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  /* outline: 1px solid green; */
}
.header-element {
  position: absolute;
  display: inline-block;
  opacity: 0;
  top: 20px;
  transition: all 1s;
}
.box-avatar {
  height: 160px;
}
.avatar {
  width: 160px;
  /* height: 160px; */
  border-radius: 50%;
}
.resp-desc-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* outline: 1px dotted wheat; */
}
.resp-desc-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.resp-desc-name {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.box-first-name {
  margin-top: 28px;
  height: 43px;
}
.box-last-name {
  height: 40px;
}
.name {
  line-height: 44px;
  font-size: 44px;
}
.first-name {
  font-weight: 300;
}

.box-position {
  margin-top: 15px;
  height: 30px;
}
.position {
  font-weight: 300;
  letter-spacing: 1px;
}

.box-socials {
  margin-top: 30px;
  height: 34px;
}
.socials {
  display: flex;
  width: 114px;
  justify-content: space-between;
}
.socials li {
  display: flex;
  width: 34px;
  height: 34px;
}
.socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f4040;
  color: #717273;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.socials a:hover {
  border: 2px solid #3f4040;
  background-color: var(--bg-main);
  color: var(--colorize);
  transition: background-color 0.4s, color 0.4s;
}
.socials a:focus {
  border: 1px solid wheat;
  background-color: var(--bg-main);
  color: var(--colorize);
  transition: background-color 0.4s, color 0.4s;
}

.box-header-bar {
  margin-top: 30px;
  height: 2px;
}
.header-bar {
  width: 85%;
  border: 1px solid #464747;
}

.contacts {
  display: flex;
  width: 85%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.contacts li {
  width: 100%;
  height: 76px;
  margin-top: 30px;
  text-align: center;
}
.contacts a {
  color: var(--font-main);
}
.contacts p:first-child {
  margin-bottom: 5px;
}
.contacts a:hover,
.contacts a:focus {
  color: var(--colorize);
  transition: color 0.3s;
}
.contacts a:focus p.name-link {
  display: inline-block;
  border-bottom: 1px solid wheat;
  transition: all 0.3s;
}

.section {
  width: 100%;
}
.section-header {
  border-top: 1px solid #464747;
  border-bottom: 1px solid #464747;
  padding: 30px;
  background-color: var(--bg-section);
}
.section > p {
  padding: 30px;
}

/* expertise */
.expertise-list {
  padding: 30px;
}
.list-num {
  display: inline-block;
  margin-right: 16px;
}
.expertise-list > li {
  margin-bottom: 24px;
}
.expertise-list > li > p {
  margin-left: 40px;
  padding-top: 12px;
}

/* skills */
.skills-list {
  width: 100%;
  padding: 30px;
}
.skills-list > li {
  margin-bottom: 24px;
}
.numbers .smaller {
  font-size: 12px;
  font-weight: 300;
}
.progress-bar {
  margin-top: 12px;
  width: 100%;
  height: 5px;
  position: relative;
  background-color: #464747;
}
.progress {
  position: absolute;
  width: 1%;
  height: 5px;
  background-color: var(--colorize);
  transition: all 1s;
}

/* experiance */
/* education */
.education-list,
.experiance-list {
  position: relative;
  padding: 30px;
  margin-left: 10px;
}
.education-list > li,
.experiance-list > li {
  margin-bottom: 24px;
}
.dates {
  letter-spacing: .5px;
  margin-bottom: 8px;
}
.education-list h3,
.experiance-list h3{
  margin-bottom: 4px;
}
.education-list li,
.experiance-list li{
  padding-left: 20px;
  position: relative;
  height: 200px;
  /* border-left: 2px solid #464747; */
}
.education-list li::before,
.experiance-list li::before {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--colorize);
  top: 9px;
  left: -11px;
}
.education-list li::after,
.experiance-list li::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 201px;
  background-color: #464747;
  left: -8px;
  top: 25px;
}
.education-list::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #464747;
  left: 14px;
  top: 480px;
}
.education-list::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #464747;
  left: 22px;
  top: 15px;
}